/* .button {
    background-color: transparent;
      display: inline-block;
      font-size: 16px;
      color: white;
      cursor: pointer;
      border-radius: 163px;
      width: 166px;
      height: 42px;
  } */
  .button {
    border-radius: 20px;
    width: 70%;
    /* margin-left: auto; */
    height: 34px;
    background-color: transparent;
    color:white

  }
  
  .buttonWithBlackColor{
    composes:button;
    color:#000000;
  }
  .button1{
    background-color: black;
    height: 34px;
    width: 80%;
    border: 1px solid grey;
    padding: 5px;
    color:white;
}